<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Banking App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/themes/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/ngstorage/ngStorage.min.js"></script>

  <script src="/bower_components/moment/min/moment.min.js"></script>
  <script src="/bower_components/angular-moment/angular-moment.min.js"></script>

  <script src="/js/myApp.module.js"></script>
  <script src="/js/main.controller.js"></script>
  <script src="/js/transaction.service.js"></script>

</head>
<body ng-app='myApp'>

  <div class="container-fluid" ng-controller='MainController as vm'>
    <h1 class="text-center">Banking App</h1>
    <button ng-click='vm.reset()' ng-show='vm.storage.started' class="btn btn-danger reset">Start Over</button>

    <div ng-submit='vm.getStarted(vm.startMoney)' class="startArea" ng-show='vm.storage.started === false'>
      <h3>Let's get started!</h3>
      <p>Input how much money you start with in your account:</p>
      <form>
        <input ng-model='vm.startMoney' type="number" min=0 placeholder="How much?" required>
        <button class="btn btn-default">Get Started!</button>
        <div>
          <p>{{vm.startMoney | currency}}</p>
        </div>
      </form>
    </div>

    <div ng-show='vm.storage.started === true' class="afterStarted">

      <div class="balanceArea text-center">
        <p class='balanceHeader'>Current Balance:</p>
        <h2 class='balance'>{{vm.localStorage.balance | currency}}</h2>
      </div>

<!-- Transaction Form -->
      <div class="addTransactionArea text-center">
        <form ng-submit='vm.addTransaction(vm.transac)' class="form-inline">
          <div class="form-group">
            <label class="sr-only">Description</label>
            <input ng-model='vm.transac.description' type="text" class="form-control" placeholder="Description" required>
          </div>
          <div class='form-group'>
            <input ng-model='vm.transac.date' class='form-control' type="date" required>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <label class="sr-only">Amount</label>
              <input ng-model='vm.transac.amount' type="number" step='.01' min=0 class="form-control" placeholder="Amount" required>
            </div>
          </div>
          <div class="form-group selectDiv">
            <select ng-model='vm.transac.type' class='form-control' value='credit'>
              <option value="credit">Credit</option>
              <option value="debit">Debit</option>
            </select>
          </div>
          <button class="btn btn-default">Add Transaction</button>
        </form>
      </div>
<!-- END Transaction Form -->

      <div class="tableArea">
        <table class="table table-hover table-bordered">
          <thead>
            <tr class='info'>
              <th class='text-center idTh'>
                <a href="#" ng-click='vm.sortType = "id"; vm.sortReverse = !vm.sortReverse'>
                  ID
                  <span ng-show='vm.sortType === "id" && !vm.sortReverse' class='fa fa-caret-down'></span>
                  <span ng-show='vm.sortType === "id" && vm.sortReverse' class='fa fa-caret-up'></span>
                </a>
              </th>
              <th class=text-center>
                <a href="#" ng-click='vm.sortType = "description"; vm.sortReverse = !vm.sortReverse'>
                  Description
                  <span ng-show='vm.sortType === "description" && !vm.sortReverse' class='fa fa-caret-down'></span>
                  <span ng-show='vm.sortType === "description" && vm.sortReverse' class='fa fa-caret-up'></span>
                </a>
              </th>
              <th class='text-center'>
                <a href="#" ng-click='vm.sortType = "date"; vm.sortReverse = !vm.sortReverse'>
                  Date
                  <span ng-show='vm.sortType === "date" && !vm.sortReverse' class='fa fa-caret-down'></span>
                  <span ng-show='vm.sortType === "date" && vm.sortReverse' class='fa fa-caret-up'></span>
                </a>
              </th>
              <th class=text-center>
                <a href="#" ng-click='vm.sortType = "credit"; vm.sortReverse = !vm.sortReverse'>
                  Credit
                  <span ng-show='vm.sortType === "credit" && !vm.sortReverse' class='fa fa-caret-down'></span>
                  <span ng-show='vm.sortType === "credit" && vm.sortReverse' class='fa fa-caret-up'></span>
                </a>
              </th>
              <th class=text-center>
                <a href="#" ng-click='vm.sortType = "debit"; vm.sortReverse = !vm.sortReverse'>
                  Debit
                  <span ng-show='vm.sortType === "debit" && !vm.sortReverse' class='fa fa-caret-down'></span>
                  <span ng-show='vm.sortType === "debit" && vm.sortReverse' class='fa fa-caret-up'></span>
                </a>
              </th>
              <th class=text-center>
                <a href="#" ng-click='vm.sortType = "newBalance"; vm.sortReverse = !vm.sortReverse'>
                  New Balance
                  <span ng-show='vm.sortType === "newBalance" && !vm.sortReverse' class='fa fa-caret-down'></span>
                  <span ng-show='vm.sortType === "newBalance" && vm.sortReverse' class='fa fa-caret-up'></span>
                </a>
              </th>
            </tr>
            <tr class='info'>
              <td class=text-center>#</td>
              <td><input ng-model='vm.search.description' type="text" placeholder='Filter Descriptions'></td>
              <!-- TODO: fix filter by date -->
              <td class='dateCol'><input ng-model='vm.search.date' type="text" placeholder='Filter Dates'</td>
              <th class=text-center>{{totalCredit | currency}}</th>
              <th class=text-center>{{totalDebit | currency}}</th>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='transaction in vm.storage.transactions | filter:{description:vm.search.description, date:vm.search.date} | orderBy:vm.sortType:vm.sortReverse track by $index'>
              <td class=text-center>{{transaction.id}}</td>
              <td>{{transaction.description}}</td>
              <td>{{transaction.date | date:mediumDate}}</td>
              <td class=text-right>{{transaction.credit | currency}}</td>
              <td class=text-right>{{transaction.debit | currency}}</td>
              <td ng-hide='transaction.datePassed' class='text-right'><em>Future Transaction</em></td>
              <td ng-show='transaction.datePassed' class=text-right>{{transaction.newBalance | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='footer'>
    <a target="_blank" href="https://github.com/elliothimmelfarb/angular-banking-app">View Project on Github</a>
  </div>
</body>
</html>
