<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Banking App</title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/themes/simplex-theme-bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/ngstorage/ngStorage.min.js"></script>

  <script src="/bower_components/moment/min/moment.min.js"></script>

  <script src="/js/module.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>

</head>
<body ng-app='myApp'>

  <div class="container-fluid" ng-controller='mainCtrl'>
    <h1 class="text-center">Banking App</h1>
    <button ng-click='reset()' ng-show='storage.started' class="btn btn-danger reset">Start Over</button>

    <div ng-submit='getStarted(startMoney)' class="startArea" ng-show='storage.started === false'>
      <h3>Let's get started!</h3>
      <p>Input how much money you start with in your account:</p>
      <form>
        <input ng-model='startMoney' type="number" min=0 placeholder="How much?" required>
        <button class="btn btn-default">Get Started!</button>
        <div>
          <p>{{startMoney | currency}}</p>
        </div>
      </form>
    </div>

    <div ng-show='storage.started === true' class="afterStarted">

      <div class="balanceArea text-center">
        <p>Current Balance:</p>
        <h2 class='balance'>{{storage.balance | currency}}</h2>
      </div>

      <div ng-submit='addTransaction(transac, type)' class="addTransactionArea text-center">
        <form class="form-inline">
          <div class="form-group">
            <!-- <label class="sr-only">Description</label> -->
            <input ng-model='transac.description' type="text" class="form-control" placeholder="Description" required>
          </div>
          <div class='form-group'>
            <input ng-model='transac.date' class='form-control' type="date" required>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <!-- <label class="sr-only">Amount</label> -->
              <input ng-model='transac.amount' type="number" step='.01' min=0 class="form-control" placeholder="Amount" required>
            </div>
          </div>
          <div class="form-group">
            <select ng-model='type' class='form-control' value='credit'>
              <option value="credit">Credit</option>
              <option value="debit">Debit</option>
            </select>
          </div>
          <button class="btn btn-default">Add Transaction</button>
        </form>
      </div>

      <div class="tableArea">
        <table class="table table-hover table-bordered">
          <thead>
            <tr class='info'>
              <th class=text-center>Description</th>
              <th class=text-center>Date</th>
              <th class=text-center>Credit</th>
              <th class=text-center>Debit</th>
              <th class=text-center>New Balance</th>
            </tr>
            <tr class='warning'>
              <th><input ng-model='search.description' type="text" placeholder='Search'></th>
              <!-- TODO: fix filter by date -->
              <th><input ng-model='search.date' type="text" placeholder='Filter by Date'</th>
              <th class=text-center>{{totalCredit | currency}}</th>
              <th class=text-center>{{totalDebit | currency}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='transaction in storage.transactions | filter:{description: search.description, date: search.date} track by $index'>
              <td>{{transaction.description}}</td>
              <td>{{transaction.date}}</td>
              <td class=text-right>{{transaction.credit | currency}}</td>
              <td class=text-right>{{transaction.debit | currency}}</td>
              <td class=text-right>{{transaction.newBalance | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



  </div>
</body>
</html>
